.button{
    -fx-font-weight: bold;
    -fx-background-color: #00bfff;
   /* -fx-background-radius: 22;*/
    -fx-font-size: 16;
    -fx-text-fill: white;

}

.button:hover{
    -fx-background-color: white;

    -fx-border-width: 3px;
    -fx-cursor: hand;

    -fx-border-color: #00bfff;
   /* -fx-border-radius: 22;*/

    -fx-text-fill:#00bfff;

    -fx-font-weight: bold;
    -fx-font-size: 16;



}